.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
input,
select {
  border-radius: 7px;
  font-size: 1.1em;
  background-color: #ffffff;
  padding: 8px;
  margin-bottom: 20px;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
textarea{
  width: 39%;
  height: 300px;
  border-radius: 7px;
  margin-bottom: 20px;
}
.submit-btn {
    align-items: center;
    background-color: #f7db36;
    color: #222;
    border: 2px solid #f7db36;
    padding: 10px;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.5s;
    width: 10em;
}
.title-box{
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 2.5em;
}
.in-line{
    display: inline-block;
    width: 15%;
} 

.checkbox{
    display: flex;
    margin-left: 80%;
    margin-right: auto;
}

.input-text{
  width: 39%;
}

.bubblesContainer {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

#categoryBubble {
  cursor: pointer;
  user-select: none;
  margin-left: -8px;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
}

div#checklist {
  display: inline-flex;
  padding-left: 13px;
  justify-content: space-between;
}

.fuck {
  appearance: none;
  background-color: #F7DB36;
}

#checklistArea {
  border: #15355e;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  margin: 10px 5px 15px 5px;
  display: -webkit-inline-box;
  position: relative;
  padding-left: 8px;
}

input[type="checkbox"] {
  margin: 0 4px 0 0;
}