.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.flex1 {
    flex: 1;
}

.lighter {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

.label {
    margin-bottom: -15px;
}

p {
    margin-top: 0px;
    font-size: 20px;
}

.container {
    text-align: left;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    max-width: 1500px;
    margin-top: 3.5em;
    justify-content: left;
    font-family: rubik;
    color: black;
}

.title {
    color: black;
    font-size: 40px;
}

.proposalTitle {
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 38px;
}

.compositeLine {
    max-width: 1100px;
}

hr {
    border-top: .15em solid #989898;
    border-left: 0;
    /* border: 0;
    height: 0; /* Firefox...
    box-shadow: 0 0 10px 1px black; */
}


