<body>
    <div class="container">
        <div class="column">
            <div class="card">
                <div class="title-box">{{ greetings }}</div>
                <div>
                    <form id="register-form">

                        <input v-if="isRegister" type="text" id="name" v-model="name" placeholder="Nome Completo" />

                        <input type="text" id="email" v-model="email" placeholder="E-mail" />

                        <input type="password" id="senha" v-model="password" placeholder="Senha" />

                        <input v-if="isRegister" type="password" id="repeatPassword" v-model="repeatPassword"
                            placeholder="Repita sua senha" />

                        <select v-if="isRegister" name="tipo" id="tipo" required v-model="type">
                            <option value="" selected disabled class="disabled">
                                Que tipo de usuário você é?
                            </option>
                            <option value="Aluno">Aluno</option>
                            <option value="Professor">Professor</option>
                            <option value="Agente Externo">Agente Externo</option>
                        </select>

                        <input v-if="isRegister && hasMatricula" type="number" id="matricula" v-model="matricula"
                            placeholder="Digite sua matrícula" />

                        <select v-if="isRegister && isExternalAgent" required v-model="externalAgentType">
                            <option value="" selected disabled class="disabled">
                                Que tipo de Agente Externo você é?
                            </option>
                            <option value="Pessoa Fisica">Pessoa Física</option>
                            <option value="Pessoa Juridica">Pessoa Jurídica</option>
                        </select>

                        <input v-if="isRegister && isJuridical" type="name" id="companyName" v-model="companyName"
                            placeholder="Digite o nome da empresa" />

                        <input v-if="isRegister && isJuridical" type="number" id="cnpj" v-model="cnpj"
                            placeholder="Digite o CNPJ da empresa" />

                        <input v-if="isRegister && isJuridical" type="number" id="cep" v-model="cep"
                            placeholder="Digite o CEP da empresa" />

                        <input v-if="isRegister && isJuridical" type="name" id="socialReason" v-model="socialReason"
                            placeholder="Digite a razão social da empresa" />

                        <input v-if="isRegister && isPhysical" type="number" id="cpf" v-model="cpf"
                            placeholder="Digite seu CPF" />

                        <div v-if="!isRegister" class="clickable-text-left" v-on:click="goToRegister">
                            <a href="#">
                                Não possui uma conta? Cadastre-se
                            </a>
                        </div>

                        <div v-if="!isRegister" class="clickable-text-left">
                            <a href="#">
                                Esqueci minha senha
                            </a>
                        </div>


                        <input v-if="!isLoading" type="submit" class="submit-btn" :value="submitButtonText"
                            @click.prevent="submit" form="register-form" />

                        <Loading class="loading" v-if='isLoading' />

                        <div v-if="isRegister" class="clickable-text-center" v-on:click="goToLogin">
                            <a href="#">
                                Voltar ao login
                            </a>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</body>