.title {
  justify-content: center;
  font-weight: 400;
  margin-left: 0px;
}

.forms {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
form {
  margin-bottom: 25px;
  margin-top: 32px;
  width: 409px;
  height: 200px;
  border: 5px dashed #15355e;
}

input[type="text"],
textarea{
  width: 400px;
  font-size: 14px;
}

.bubblesContainer {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

input[type="text"] {
  height: 6px;
}

textarea {
  font-family: rubik, Sans-serif;
  font-weight: 300;
}

form input{
  width: 100%;
  height: 100%;
  opacity: 0;
}

h3{
  font-size: 18px;
  margin: 15px 0 3px 0;
  position: relative;
  display: inline-block;
  font-weight: bold;
}
html{
  margin-bottom: 27px;
}
input[type="checkbox"] {
  margin: 0 4px 0 0;
}

.fuck {
  appearance: none;
  background-color: #F7DB36;
}


#categoryBubble {
  cursor: pointer;
  user-select: none;
  margin-left: -8px;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
}

div#checklist {
  display: inline-flex;
  padding-left: 13px;
  justify-content: space-between;
}
label{
  position: relative;
}

input#file {
  position: relative;
  z-index: 5;
  margin-bottom: 7px;
}
form p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 39px;
  color: red;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  position: relative;
  top: -173px;
  font-size: 20px;
}
form label {
  position: relative;
  top: 7px;
}
#checklistArea {
  border: #15355e;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  margin: 10px 5px 15px 5px;
  display: -webkit-inline-box;
  position: relative;
  padding-left: 8px;
}

.btn{
  color: black;
  margin-left: 3%;
}