<body>
  <div class='title'>
    {{operacao === 'visualizar'?'Visualização de Projeto':'Nova proposta'}}
  </div>

  <div class='forms'>
    <input :style="{borderColor: !titulo.isValid ? 'red' : ''}" type="text" id="titulo"
      placeholder="Qual é o título da proposta de projeto?" @blur="validateFormInput('titulo')"
      @input="validateFormInput('titulo')" :disabled=isLoading>
    <p v-if="!titulo.isValid" :style="{color: !titulo.val ? 'red' : ''}">Preenchimento obrigatório</p>
  
    <textarea :style="{borderColor: !descricao.isValid ? 'red' : ''}" id="descricao"
      placeholder="Qual a proposta do projeto?" rows="7" maxlength="10000" @blur="validateFormInput('descricao')"
      @input="validateFormInput('descricao')" :disabled=isLoading>
      </textarea>
    <p style="float: left" v-if="!descricao.isValid" :style="{color: !descricao.val ? 'red' : ''}">
      Preenchimento obrigatório
    </p>
  
    <textarea :style="{borderColor: !resultadoEsperado.isValid ? 'red' : ''}" id="descricao"
      placeholder="Qual resultado espera ter?" rows="5" @blur="validateFormInput('resultadoEsperado')"
      @input="validateFormInput('resultadoEsperado')" :disabled=isLoading>
          </textarea>
    <p v-if="!resultadoEsperado.isValid" :style="{color: !resultadoEsperado.val ? 'red' : ''}">
      Preenchimento obrigatório
    </p>

    
    <div v-if="areasConhecimento.length">
    <h3>
      A quais áreas de conhecimento o projeto pertence?
    </h3>
  </div>
  
  <div class="bubblesContainer">
    <div v-for="areaConhecimento in areasConhecimento" :key="areaConhecimento.id" id="checklistArea">
      <div id="categoryBubble" :class='whoAmI(areaConhecimento.knowledgeareaid)' @click="beGay(areaConhecimento.knowledgeareaid)">{{areaConhecimento.knowledgearea}}</div>
    </div>
  </div>
</div>
    

  <label id="negativeKnAreaForm"
    style="margin-bottom: 10px;margin-bottom: 7px;position: relative;top: -11px;left: -33px;"
    v-if="!areasConhecimentoSelecionadas.isValid" :style="{color: !areasConhecimentoSelecionadas.isValid ? 'red' : ''}">
    Selecione ao menos uma área de conhecimento
  </label>

  <div align="center">
    <form :style="{borderColor: !file.isValid ? 'red' : ''}" action="http://localhost:3000/upload"
      enctype="multipart/form-data" method="post">
      <input :disabled=isLoading @change="updateFile($event)" name="pic" id="file" type="file" placeholder="assa">
      <label for="file" class="mb-3" :style="{color: !file.isValid ? 'red' : ''}" v-if="!file.isValid">
        Preenchimento obrigatório
      </label>
      <p v-if="!this.file.val">
        Arraste um arquivo de imagem que represente sua proposta de projeto ou selecione-o
      </p>
      <p v-else-if="this.file.val">
        {{ file.val.name }}
      </p>
      <p v-else style="color: darkblue">
        Arraste um arquivo de imagem que represente sua proposta de projeto ou selecione-o
      </p>
    </form>
  </div>

  <label for="file" class="mb-3" :style="{color: !file.isValid ? 'red' : ''}" v-if="!file.isValid"
    style="position: relative;top: -16px;left: -100px;">
    Preenchimento obrigatório
  </label>
  <div class="form-row" v-if="operacao !== 'visualizar'">
    <button v-if="!isLoading" type="button" class="btn btn-warning" @click="submitForm">Submeter</button>
  </div>
</body>