.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
input,
select {
  border-radius: 7px;
  font-size: 1.1em;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 8px;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
textarea{
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 7px;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
}
.submit-btn {
    align-items: center;
    background-color: #f7db36;
    color: #222;
    border: 2px solid #f7db36;
    padding: 10px;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.5s;
    width: 10em;
}
