<body>
    <div class="container">
        <form id="-discipline-register-form">
            <div>
                <input type="text" id="nomeDisciplina" v-model="nameDiscipline" placeholder="Nome da Disciplina" />
            </div>
            
            <div>
                <input type="text" id="turma" v-model="turma" placeholder="Turma" />
            </div>

            <div>
                <input type="number" id="anoLetivo" v-model="academicYear" placeholder="Ano Letivo" />
            </div>

            <div>
                <input type="number" id="Semestre" v-model="semester" placeholder="Semestre" />
            </div>

            <div>
                <input type="text" id="nomeProfessor" v-model="nameTeacher" placeholder="Nome do Professor" />
            </div>

            <div>
                <select name="sub-areas" id="sub-areas" v-model='subArea'>
                    <option value='' disabled selected>Sub-áreas</option>
                    <option value='teste1'>teste1</option>
                    <option value='teste2'>teste2</option>
                    <option value='Outro'>Outros</option>
                </select>
            </div>

            <div>
                <textarea type="text" id="ementaDisciplina" v-model="descriptionDiscipline" placeholder="Ementa da Disciplina" maxlength="1000"></textarea>    
            </div>

            <div>
                <input type="submit" class="submit-btn" value="Cadastrar Disciplina"
                @click.prevent="submit" form="register-form" />
            </div>

        </form>
    </div>
</body>
